<section class="section about" id="about">
    <div class="container about">

        <div class="about-img-wrapper">
            <img src="../img/vite-logo.png" alt="making a jewelry" width="335"/> 
        </div>
        
        <div class="about-text-wrapper">
            <h2 class="about-title">The Artistry Behind Handmade Jewelry</h2>
    
            <p class="about-text">
                Handmade Jewelry began as a passion project, 
                inspired by the beauty of nature and the desire to create meaningful pieces. 
                Each item is crafted with love, reflecting our commitment to sustainability 
                and the unique story of its maker.
            </p>
    
            <ul class="about-list">
                <li class="about-list-item">
                    <p class="about-list-item-text first">Inspired by Nature</p>
                </li>
                <li class="about-list-item">
                    <p class="about-list-item-text second">Handcrafted with Love</p>
                </li>
                <li class="about-list-item">
                    <p class="about-list-item-text third">Every Piece Tells a Story</p>
                </li>
            </ul>
        </div>
    </div>
</section>
