<section class="section about-section" id="about">
  <div class="container about-container">
    <div class="about-img-wrapper">
      <picture>
        <source
          media="(min-width: 1440px)"
          srcset="
            ./img/about/desktop/desktop-placeholder-lightbox-1x.jpg 1x,
            ./img/about/desktop/desktop-placeholder-lightbox-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/about/tablet/tablet-placeholder-lightbox-1x.jpg 1x,
            ./img/about/tablet/tablet-placeholder-lightbox-2x.jpg 2x
          "
        />
        <img
          class="about-img"
          src="./img/about/mobile/mobile-placeholder-lightbox-1x.jpg"
          srcset="
            ./img/about/mobile/mobile-placeholder-lightbox-1x.jpg 1x,
            ./img/about/mobile/mobile-placeholder-lightbox-2x.jpg 2x
          "
          alt="Making a jewelry"
          loading="lazy"
        />
      </picture>
    </div>

    <div class="about-text-wrapper">
      <h2 class="about-title">The Artistry Behind Handmade Jewelry</h2>

      <p class="about-text">
        Handmade Jewelry began as a passion project, inspired by the beauty of
        nature and the desire to create meaningful pieces. Each item is crafted
        with love, reflecting our commitment to sustainability and the unique
        story of its maker.
      </p>

      <ul class="about-list">
        <li class="about-list-item icon-nature">Inspired by Nature</li>
        <li class="about-list-item icon-handcrafted">Handcrafted with Love</li>
        <li class="about-list-item icon-story">Every Piece Tells a Story</li>
      </ul>
    </div>
  </div>
</section>
