<!-- ===== GALLERY SECTION ===== -->
<section class="gallery" id="gallery">
  <div class="container">

    <!-- TITLE -->
    <h2 class="gallery_title">
      Jewelry Showcase
    </h2>

    <!-- SUBTITLE -->
    <p class="gallery_text">
      Discover the beauty of our handcrafted jewelry in style.
    </p>

    <!-- GRID -->
    <ul class="gallery_grid">

      <li class="gallery_item gallery_item-1">
        <img 
          class="gallery_img"
          src="./img/gallery/desktop/desktop-placeholder-image-1-1x.jpg"
          alt="Jewelry 1"
        />
      </li>

      <li class="gallery_item gallery_item-2">
        <img 
          class="gallery_img"
          src="./img/gallery/desktop/desktop-placeholder-image-2-1x.jpg"
          alt="Jewelry 2"
        />
      </li>

      <li class="gallery_item gallery_item-3">
        <img 
          class="gallery_img"
          src="./img/gallery/desktop/desktop-placeholder-image-3-1x.jpg"
          alt="Jewelry 3"
        />
      </li>

      <li class="gallery_item gallery_item-4">
        <img 
          class="gallery_img"
          src="./img/gallery/desktop/desktop-placeholder-image-4-1x.jpg"
          alt="Jewelry 4"
        />
      </li>

    </ul>

  </div>
</section>