<section class="gallery" id="gallery">
  <div class="container">

    <h2 class="gallery_title">
      Jewelry Showcase
    </h2>

    <p class="gallery_text">
      Discover the beauty of our handcrafted jewelry in style.
    </p>

    <ul class="gallery_grid">

<li class="gallery_item gallery_item-1">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/gallery/desktop/desktop-placeholder-image-1-1x.jpg 1x,
              ./img/gallery/desktop/desktop-placeholder-image-1-2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/gallery/tablet/tablet-placeholder-image-1-1x.jpg 1x,
              ./img/gallery/tablet/tablet-placeholder-image-1-2x.jpg 2x
            "
          />
          <img
            class="gallery_img"
            src="./img/gallery/mobile/mobile-placeholder-image-1-1x.jpg"
            srcset="./img/gallery/mobile/mobile-placeholder-image-1-2x.jpg 2x"
            alt="Jewelry 1"
          />
        </picture>
      </li>

<li class="gallery_item gallery_item-2">
        <picture>
          <source media="(min-width: 1440px)"
            srcset="./img/gallery/desktop/desktop-placeholder-image-2-1x.jpg 1x,
                    ./img/gallery/desktop/desktop-placeholder-image-2-2x.jpg 2x" />
          <source media="(min-width: 768px)"
            srcset="./img/gallery/tablet/tablet-placeholder-image-2-1x.jpg 1x,
                    ./img/gallery/tablet/tablet-placeholder-image-2-2x.jpg 2x" />
          <img
            class="gallery_img"
            src="./img/gallery/mobile/mobile-placeholder-image-2-1x.jpg"
            srcset="./img/gallery/mobile/mobile-placeholder-image-2-2x.jpg 2x"
            alt="Jewelry 2"
          />
        </picture>
      </li>

<li class="gallery_item gallery_item-3">
        <picture>
          <source media="(min-width: 1440px)"
            srcset="./img/gallery/desktop/desktop-placeholder-image-3-1x.jpg 1x,
                    ./img/gallery/desktop/desktop-placeholder-image-3-2x.jpg 2x" />
          <source media="(min-width: 768px)"
            srcset="./img/gallery/tablet/tablet-placeholder-image-3-1x.jpg 1x,
                    ./img/gallery/tablet/tablet-placeholder-image-3-2x.jpg 2x" />
          <img
            class="gallery_img"
            src="./img/gallery/mobile/mobile-placeholder-image-3-1x.jpg"
            srcset="./img/gallery/mobile/mobile-placeholder-image-3-2x.jpg 2x"
            alt="Jewelry 3"
          />
        </picture>
      </li>      
<li class="gallery_item gallery_item-4">
        <picture>
          <source media="(min-width: 1440px)"
            srcset="./img/gallery/desktop/desktop-placeholder-image-4-1x.jpg 1x,
                    ./img/gallery/desktop/desktop-placeholder-image-4-2x.jpg 2x" />
          <source media="(min-width: 768px)"
            srcset="./img/gallery/tablet/tablet-placeholder-image-4-1x.jpg 1x,
                    ./img/gallery/tablet/tablet-placeholder-image-4-2x.jpg 2x" />
          <img
            class="gallery_img"
            src="./img/gallery/mobile/mobile-placeholder-image-4-1x.jpg"
            srcset="./img/gallery/mobile/mobile-placeholder-image-4-2x.jpg 2x"
            alt="Jewelry 4"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>