<header>
  <div class="container">
    <div class="header-content">
      <a class="header-logo" href="../index.html"
        ><img src="" alt="Company logo"
      /></a>
      <nav class="header-navigation">
        <ul class="header-nav-list">
          <li class="header-list">
            <a class="header-link" href="">About us</a>
          </li>
          <li class="header-list">
            <a class="header-link" href="">Benefits</a>
          </li>
          <li class="header-list">
            <a class="header-link" href="">Gallery</a>
          </li>
          <li class="header-list">
            <a class="header-link" href="">Testimonials</a>
          </li>
          <li class="header-list">
            <a class="header-link" href="">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="header-button" type="button">Order Now</button>
      <button class="burger-btn" type="button">
        <svg class="header-icon" width="24" height="24">
          <use href=""></use>
        </svg>
      </button>
    </div>
  </div>
</header>
