<header>
  <div class="container navbar-container">
    <div class="header-navbar">
      <a class="header-logo" href="../index.html"
        ><img src="../img/header/logo/company-logo.jpg" alt="Company logo"
      /></a>
      <nav class="header-navigation">
        <ul class="header-nav-list">
          <li class="header-list">
            <a class="header-link" href="#about us">About us</a>
          </li>
          <li class="header-list">
            <a class="header-link" href="#benefits">Benefits</a>
          </li>
          <li class="header-list">
            <a class="header-link" href="#gallery">Gallery</a>
          </li>
          <li class="header-list">
            <a class="header-link" href="#testimonials">Testimonials</a>
          </li>
          <li class="header-list">
            <a class="header-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <a class="header-button" href="#contacts">Order Now</a>
      <button class="burger-btn" type="button">
        <svg class="header-icon" width="24" height="24">
          <use href="../img/sprite.svg#menu-icon"></use>
        </svg>
      </button>
    </div>
  </div>
  <section class="header-title">
    <div class="container header-container">
      <div class="header-content">
        <h2 class="header-subtitle">Discover the Art of Handmade Jewelry</h2>
        <p class="header-text">
          Each piece of our jewelry tells a story, crafted with love and care.
          Embrace the beauty of uniqueness and sustainability in every design.
        </p>
      </div>
      <a class="header-title-button" href="#contacts">Order Now</a>
    </div>
  </section>
</header>
