<header>
  <div class="container navbar-container">
    <div class="header-navbar">
      <a class="header-logo" href="../index.html"
        ><img src="" alt="Company logo"
      /></a>
      <nav class="header-navigation">
        <ul class="header-nav-list">
          <li class="header-item">
            <a class="header-link" href="#about">About us</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#benefits">Benefits</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#gallery">Gallery</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#testimonials">Testimonials</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#contacts">Contacts</a>
          </li>
        </ul>
      </nav>
      <a class="header-button" href="#contacts">Order Now</a>
      <button class="burger-btn" type="button">
        <svg class="header-icon" width="24" height="24">
          <use href="../img/sprite.svg#menu-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
