<div class="mobile-menu" data-mobile-menu>
  <div class="container mobile-menu-container">
    <a class="mobile-menu-logo" href="./index.html"
      ><img class="mobile-menu-logo-img" src="/img/logo.svg" alt="Company logo"
    /></a>
    <button type="button" class="close-icon-btn" data-mobile-menu-close>
      <svg class="close-icon" width="24" height="24">
        <use href="/img/sprite.svg#close-icon"></use>
      </svg>
    </button>
    <nav class="mobile-menu-navigation">
      <ul class="mobile-menu-nav-list">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#about">About us</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#benefits">Benefits</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#gallery">Gallery</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <a class="mobile-menu-button btn" href="#contacts">Order Now</a>
  </div>
</div>
