<div class="mobile-menu is-open">
  <div class="container mobile-menu-container">
    <a class="mobile-menu-logo" href="./index.html"
      ><img
        class="mobile-menu-logo-img"
        src="/img/footer-logo.svg"
        alt="Company logo"
    /></a>
    <button type="button" class="close-icon-btn">
      <svg class="close-icon" width="24" height="24">
        <use href="/img/sprite.svg#close-icon"></use>
      </svg>
    </button>
    <nav class="mobile-menu-navigation">
      <ul class="mobile-menu-nav-list">
        <li class="mobile-menu-item">
          <div class="mobile-menu-link-underline">
            <a class="mobile-menu-link" href="#about">About us</a>
          </div>
        </li>
        <li class="mobile-menu-item">
          <div class="mobile-menu-link-underline">
            <a class="mobile-menu-link" href="#benefits">Benefits</a>
          </div>
        </li>
        <li class="mobile-menu-item">
          <div class="mobile-menu-link-underline">
            <a class="mobile-menu-link" href="#gallery">Gallery</a>
          </div>
        </li>
        <li class="mobile-menu-item">
          <div class="mobile-menu-link-underline">
            <a class="mobile-menu-link" href="#testimonials">Testimonials</a>
          </div>
        </li>
        <li class="mobile-menu-item">
          <div class="mobile-menu-link-underline">
            <a class="mobile-menu-link" href="#contacts">Contacts</a>
          </div>
        </li>
      </ul>
    </nav>
    <a class="mobile-menu-button" href="#contacts">Order Now</a>
  </div>
</div>
