<div class="mobile-menu">
  <div class="container mob-menu-container">
    <a class="menu-logo" href="/index.html"
      ><img class="menu-logo-img" src="/img/footer-logo.svg" alt="Company logo"
    /></a>
    <button class="mobmenu-close-button" type="button">
      <svg class="mobmenu-close-icon" width="12" height="12">
        <use href="../img/sprite.svg#close-icon"></use>
      </svg>
    </button>
    <nav class="mob-menu-nav">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a class="mobmenu-link" href="#">About us</a>
        </li>
        <li class="mob-menu-item">
          <a class="mobmenu-link" href="#">Benefits</a>
        </li>
        <li class="mob-menu-item">
          <a class="mobmenu-link" href="#">Gallery</a>
        </li>
        <li class="mob-menu-item">
          <a class="mobmenu-link" href="#">Testimonials</a>
        </li>
        <li class="mob-menu-item">
          <a class="mobmenu-link" href="#">Contacts</a>
        </li>
      </ul>
    </nav>
    <button class="mob-menu-button" type="button">Order Now</button>
  </div>
</div>
