<section class="container testimonials-section">
  <h2 class="testimonials-title" id="testimonials">Jewelry Showcase</h2>
  <p class="testimonials-descr">
    Discover the beauty of our handcrafted jewelry in style.
  </p>

  <ul class="testimonials-list">
    <li class="testimonials-item">
      <picture class="testimonials-picture">
        <source media="(min-width:1440px )" srcset="" />
        <source media="(min-width: 768px)" srcset="" />
        <img class="testimonials-image" src="" alt="" />
      </picture>
      <picture class="testimonials-picture">
        <source media="(min-width:1440px )" srcset="" />
        <source media="(min-width: 768px)" srcset="" />
        <img class="testimonials-image" src="" alt="" />
      </picture>
      <svg class="testimonials-star" width="24" height="24">
        <use href=""></use>
      </svg>
      <svg class="testimonials-star" width="24" height="24">
        <use href=""></use>
      </svg>
      <svg class="testimonials-star" width="24" height="24">
        <use href=""></use>
      </svg>
      <svg class="testimonials-star" width="24" height="24">
        <use href=""></use>
      </svg>
      <svg class="testimonials-star" width="24" height="24">
        <use href=""></use>
      </svg>

      <figure class="testimonials-figure">
        <blockquote>"Each piece tells a story, and I love mine!"</blockquote>
        <figcaption>Thomas Mans</figcaption>
      </figure>
    </li>
    <li class="testimonials-item">
      <svg class="testimonials-star" width="24" height="24">
        <use href=""></use>
      </svg>
      <svg class="testimonials-star" width="24" height="24">
        <use href=""></use>
      </svg>
      <svg class="testimonials-star" width="24" height="24">
        <use href=""></use>
      </svg>
      <svg class="testimonials-star" width="24" height="24">
        <use href=""></use>
      </svg>
      <svg class="testimonials-star" width="24" height="24">
        <use href=""></use>
      </svg>

      <figure>
        <blockquote>
          "The craftsmanship is exquisite, and I feel unique wearing it."
        </blockquote>
        <figcaption>Jane Edison</figcaption>
      </figure>
      <picture class="testimonials-picture">
        <source media="(min-width:1440px )" srcset="" />
        <source media="(min-width: 768px)" srcset="" />
        <img class="testimonials-image" src="" alt="" />
      </picture>
      <picture class="testimonials-picture">
        <source media="(min-width:1440px )" srcset="" />
        <source media="(min-width: 768px)" srcset="" />
        <img class="testimonials-image" src="" alt="" />
      </picture>
    </li>
  </ul>
</section>
