<section class="container section" id="testimonials">
  <h2 class="testimonials-title">Customer testimonials</h2>
  <p class="testimonials-descr">
    Absolutely love my new earrings! They are stunning.
  </p>

  <ul class="testimonials-comment-list">
    <li class="testimonials-comment-item">
      <picture class="testimonials-picture">
        <source
          media="(min-width: 1440px )"
          srcset="
            /img/testimonials/desktop/desktop-testimonials-1-1x.jpg 1x,
            /img/testimonials/desktop/desktop-testimonials-1-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/testimonials/tablet/tablet-testimonials-1-1x.jpg 1x,
            /img/testimonials/tablet/tablet-testimonials-1-2x.jpg 2x
          "
        />
        <img
          class="testimonials-image"
          src="/img/testimonials/mobile/mobile-testimonials-1-1x.jpg"
          srcset="
            /img/testimonials/mobile/mobile-testimonials-1-1x.jpg 1x,
            /img/testimonials/mobile/mobile-testimonials-1-2x.jpg 2x
          "
          alt="Girl shows off handmade gold earring with agate and moonstone beads."
          width="335"
        />
      </picture>
      <picture class="testimonials-picture">
        <source
          media="(min-width: 1440px )"
          srcset="
            /img/testimonials/desktop/desktop-testimonials-2-1x.jpg 1x,
            /img/testimonials/desktop/desktop-testimonials-2-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/testimonials/tablet/tablet-testimonials-2-1x.jpg 1x,
            /img/testimonials/tablet/tablet-testimonials-2-2x.jpg 2x
          "
        />
        <img
          class="testimonials-image"
          src="/img/testimonials/mobile/mobile-testimonials-2-1x.jpg"
          srcset="
            /img/testimonials/mobile/mobile-testimonials-2-1x.jpg 1x,
            /img/testimonials/mobile/mobile-testimonials-2-2x.jpg 2x
          "
          alt="Man admiring handmade silver pendant with agate stone"
          width="335"
        />
      </picture>
      <div class="testimonial-comment-wrap">
        <ul class="testimonial-rating-list">
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star-unfilled" width="24" height="24">
              <use href="../img/sprite.svg#star-outline-icon"></use>
            </svg>
          </li>
        </ul>

        <figure class="testimonials-figure">
          <blockquote class="testimonials-quote">
            "Each piece tells a story, and I love mine!"
          </blockquote>
          <figcaption class="testimonials-figcaption">Thomas Mans</figcaption>
        </figure>
      </div>
    </li>
    <li class="testimonials-comment-item">
      <div class="testimonial-comment-wrap">
        <ul class="testimonial-rating-list">
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
        </ul>

        <figure class="testimonials-figure">
          <blockquote class="testimonials-quote">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </blockquote>
          <figcaption class="testimonials-figcaption">Jane Edison</figcaption>
        </figure>
      </div>
      <picture class="testimonials-picture">
        <source
          media="(min-width: 1440px )"
          srcset="
            /img/testimonials/desktop/desktop-testimonials-3-1x.jpg 1x,
            /img/testimonials/desktop/desktop-testimonials-3-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/testimonials/tablet/tablet-testimonials-3-1x.jpg 1x,
            /img/testimonials/tablet/tablet-testimonials-3-2x.jpg 2x
          "
        />
        <img
          class="testimonials-image"
          src="/img/testimonials/mobile/mobile-testimonials-3-1x.jpg"
          srcset="
            /img/testimonials/mobile/mobile-testimonials-3-1x.jpg 1x,
            /img/testimonials/mobile/mobile-testimonials-3-2x.jpg 2x
          "
          alt="Demonstration of a handmade leather knitted bracelet with topaz"
          width="335"
        />
      </picture>
      <picture class="testimonials-picture">
        <source
          media="(min-width: 1440px )"
          srcset="
            /img/testimonials/desktop/desktop-testimonials-4-1x.jpg 1x,
            /img/testimonials/desktop/desktop-testimonials-4-2x.jpg 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            /img/testimonials/tablet/tablet-testimonials-4-1x.jpg 1x,
            /img/testimonials/tablet/tablet-testimonials-4-2x.jpg 2x
          "
        />
        <img
          class="testimonials-image"
          src="/img/testimonials/mobile/mobile-testimonials-4-1x.jpg"
          srcset="
            /img/testimonials/mobile/mobile-testimonials-4-1x.jpg 1x,
            /img/testimonials/mobile/mobile-testimonials-4-2x.jpg 2x
          "
          alt="Demonstration of a handmade silver ring with a clear quartz stone"
          width="335"
        />
      </picture>
    </li>
  </ul>
</section>
