<section class="container section" id="testimonials">
  <h2 class="testimonials-title">Customer testimonials</h2>
  <p class="testimonials-descr">
    Absolutely love my new earrings! They are stunning.
  </p>

  <ul class="testimonials-comment-list">
    <li class="testimonials-comment-item">
      <picture class="testimonials-picture">
        <source media="(min-width: 1440px )" srcset="" />
        <source media="(min-width: 768px)" srcset="" />
        <img
          class="testimonials-image"
          src=""
          alt="Girl shows off handmade gold earring with agate and moonstone beads"
          width="335"
        />
      </picture>
      <picture class="testimonials-picture">
        <source media="(min-width: 1440px )" srcset="" />
        <source media="(min-width: 768px)" srcset="" />
        <img
          class="testimonials-image"
          src=""
          alt="Man admiring handmade silver pendant with agate stone"
          width="335"
        />
      </picture>
      <div class="testimonial-comment-wrap">
        <ul class="testimonial-rating-list">
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star-unfilled" width="24" height="24">
              <use href="../img/sprite.svg#star-outline-icon"></use>
            </svg>
          </li>
        </ul>

        <figure class="testimonials-figure">
          <blockquote class="testimonials-quote">
            "Each piece tells a story, and I love mine!"
          </blockquote>
          <figcaption class="testimonials-figcaption">Thomas Mans</figcaption>
        </figure>
      </div>
    </li>
    <li class="testimonials-comment-item">
      <div class="testimonial-comment-wrap">
        <ul class="testimonial-rating-list">
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
          <li class="testimonials-rating-item">
            <svg class="testimonials-star" width="24" height="24">
              <use href="../img/sprite.svg#star-filed-icon"></use>
            </svg>
          </li>
        </ul>

        <figure class="testimonials-figure">
          <blockquote class="testimonials-quote">
            "The craftsmanship is exquisite, and I feel unique wearing it."
          </blockquote>
          <figcaption class="testimonials-figcaption">Jane Edison</figcaption>
        </figure>
      </div>
      <picture class="testimonials-picture">
        <source media="(min-width: 1440px )" srcset="" />
        <source media="(min-width: 768px)" srcset="" />
        <img
          class="testimonials-image"
          src=""
          alt="Demonstration of a handmade leather knitted bracelet with topaz"
          width="335"
        />
      </picture>
      <picture class="testimonials-picture">
        <source media="(min-width: 1440px )" srcset="" />
        <source media="(min-width: 768px)" srcset="" />
        <img
          class="testimonials-image"
          src=""
          alt="Demonstration of a handmade silver ring with a clear quartz stone"
          width="335"
        />
      </picture>
    </li>
  </ul>
</section>
