.section.about{
    padding: 56px 0;
}

.container.about{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.about-img-wrapper{
    width: 335px;
    height: 335px;
    background-image: url("../img/hero/mobile/mobile-placeholder-lightbox-1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-resolution: 2x){
    .about-img-wrapper{
        background-image: url("../img/hero/mobile/mobile-placeholder-lightbox-2x.jpg");
    }
}

.about-text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-title{
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    font-family: var(--second-family);
}

.about-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.about-list-item{
    font-weight: 700;
    font-size: 18px; 
    line-height: 1.5;
    display: flex;
    align-items: center;
    gap: 8px;
}

.about-list-item:not(:last-child){
    margin-bottom: 24px;
}

.about-list-item::before{
    content: '';
    display: inline-block;
    width:24px;
    height:24px;
}

.icon-nature::before{
    background-image:url("../img/hero/svg/leaf.svg");
}

.icon-handcrafted::before{
    background-image:url("../img/hero/svg/donate-heart.svg");
}

.icon-story::before{
    background-image:url("../img/hero/svg/book.svg");
}

@media only screen and (min-width: 768px) {
    .about-img-wrapper{
    width: 704px;
    height: 456px;
    background-image: url("../img/hero/tablet/tablet-placeholder-lightbox-1x.jpg");
    }

    @media (min-resolution: 2x){
    .about-img-wrapper{
        background-image: url("../img/hero/tablet/tablet-placeholder-lightbox-2x.jpg");
        }
    }
}

@media only screen and (min-width: 1440px) {
    .about-img-wrapper{
        width: 640px;
        background-image: url("../img/hero/desktop/desktop-placeholder-lightbox-1x.jpg");
    }

    .container.about{
        flex-direction: row;
        align-items: center;
    }

    .about-text-wrapper{
        width: 640px;
    }

    @media (min-resolution: 2x){
    .about-img-wrapper{
        background-image: url("../img/hero/desktop/desktop-placeholder-lightbox-2x.jpg");
        }
    }

}