/* Рути */

:root {
  scroll-behavior: smooth;

  --main-font-family: 'Mulish', sans-serif;
  --second-family: 'Sora', sans-serif;

  --main-bg-color: #fff;
  --main-text-color: #000;
  --invalid-text-color: #8c0000;
  --norm-btn-bg-color: #ccc16e;
  --btn-hover-bg-color: transparent;
  --btn-border: 1px solid #ccc16e;
  --btn-active-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
  --link-active-color: #8668c7;
  --header-text-color: #fff;
  --icons-fill: #000;
  --wrap-bg-color: #f2f2f2;
  --wrap-border: 1px solid rgba(0, 0, 0, 0.2);
  --input-border: 1px solid rgba(0, 0, 0, 0.15);
  --input-active-border: 1px solid #ccc16e;
  --input-invalid-border: 1px solid #8c0000;
  --textarea-active: var(--input-active-border);
  --placeholder-text-color: rgba(0, 0, 0, 0.6);
  --inactive-opacity: 0.3;
  --pixel-overlay: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

  --t-duration: 250ms;
  --t-timing: cubic-bezier(0.4, 0, 0.2, 1);
  --t-delay: 0s;

  --t-prop: all;
}

/* Базові стилі */

body {
  font-family: var(--main-font-family);
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}
