.contacts {
}

.contacts-container {
  padding-block: 64px;
}

.contacts-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.contacts-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.contacts-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 48px;
}

.contacts-wrap {
  display: flex;
  flex-wrap: wrap;
}

.contacts-address {
  font-style: normal;
  margin-bottom: 32px;
  flex-basis: 100%;
}

.contacts-address-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.contacts-address-item {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.contacts-address-svg {
  fill: var(--icons-fill);
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}

.contacts-address-text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

.contacts-address-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-decoration-skip-ink: none;
  outline: none;
  transition: var(--t-prop) var(--t-duration) var(--t-timing);
}

.contacts-address-link:focus,
.contacts-address-link:hover {
  text-decoration: underline;
}

.contacts-address-link:active {
  color: var(--link-active-color);
}

.contacts-form {
  width: 100%;
}

.contacts-form-inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.contacts-form-label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.contacts-form-input {
  border: var(--input-border);
  padding: 8px 12px;
  height: 40px;
  background: transparent;
  outline: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  transition: var(--t-prop) var(--t-duration) var(--t-timing);
}

.contacts-form-input:not(:placeholder-shown):invalid {
  border: var(--input-invalid-border);
}

.text-invalid {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 0;
  color: #8c0000;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: var(--t-prop) var(--t-duration) var(--t-timing);
  pointer-events: none;
}

.contacts-form-input:not(:placeholder-shown):invalid ~ .text-invalid {
  margin-top: 8px;
  opacity: 1;
  max-height: 100px;
  pointer-events: auto;
}

.contacts-form-comment {
  border: var(--input-border);
  padding: 12px;
  height: 180px;
  background: transparent;
  outline: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  resize: none;
  transition: var(--t-prop) var(--t-duration) var(--t-timing);
}

.contacts-form-input::placeholder,
.contacts-form-comment::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--placeholder-text-color);
}

.contacts-form-input:hover,
.contacts-form-input:focus,
.contacts-form-comment:hover,
.contacts-form-comment:focus {
  border: var(--input-active-border);
}

.contacts-form-btn {
  width: 100%;
  height: 36px;
  outline: none;
}

.contacts-form:has(.contacts-form-input:not(:placeholder-shown):invalid)
  .contacts-form-btn {
  opacity: 0.3;
  pointer-events: none;
}

@media only screen and (min-width: 768px) {
  .contacts-address-list {
    gap: 25px;
  }

  .contacts-address-item {
    flex-basis: calc((100% - 25px * 2) / 3);
  }

  .contacts-form-btn {
    max-width: 249px;
  }
}

@media only screen and (min-width: 1440px) {
  .contacts-title {
    font-size: 48px;
  }

  .contacts-wrap {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    gap: 32px;
  }

  .contacts-address {
    flex-basis: calc((100% - 32px) / 2);
  }

  .contacts-form {
    flex-basis: calc((100% - 32px) / 2);
  }

  .contacts-form-btn {
    max-width: 192px;
  }
}
