.footer {
    padding-block: 80px;
}

.footer-logo {
}

.footer-socials {
}

.footer-social-list {
    display: flex;
    gap: 12px;
    margin-bottom: 64px;
    justify-content: center;
}

.footer-social-item {
    width: 44px;
    height: 44px;
}

.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.footer-social-icon {
}

.footer-navigation {
}

.footer-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    margin-bottom: 24px;
}

.footer-navigation-item {
    font-size: 18px;
    line-height: 1.5;
}

.footer-navigation-link {
}

.copyright::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 0px;
}

.copyright {
    position: relative;
    text-align: center;
    padding-top: 32px;
}

.copyright-text {
    font-size: 14px;
    line-height: 1.5;
}