/* =========== BASE =========== */

.gallery {
  text-align: center;
}

/* TITLE */
.gallery_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 8px;

  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
}

/* TEXT */
.gallery_text {
  font-family: var(--main-font-family);
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 40px;

  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
}

/* GRID */
.gallery_grid {
  display: grid;
  gap: 16px;
}

/* ITEM */
.gallery_item {
  border-radius: 8px;
  overflow: hidden;
}

.gallery_item {
  aspect-ratio: 1 / 1;
}

/* IMAGE */
.gallery_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* =========== TABLET =========== */

@media (min-width: 768px) {

  .gallery_grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .gallery_item {
    aspect-ratio: auto;
  }
  .gallery_item-1 {
    grid-row: span 2;
  }

  .gallery_item-4 {
    grid-row: span 2;
    grid-column: 2;
  }
}

/* =========== DESKTOP =========== */

@media (min-width: 1440px) {

  .gallery_title {
    font-size: 48px;
    max-width: 700px;
  }

  .gallery_text {
    max-width: 600px;
  }

  .gallery_grid {
    gap: 32px;
  }
}