/* ===========  RESET  =========== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}


/* ===========  CONTAINER =========== */

.container {
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}


/* ===========  BASE (MOBILE) =========== */

.gallery {
  padding: 64px 0;
  text-align: center;
}

/* TITLE */

.gallery__title {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;

  margin-bottom: 8px;

  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

/* TEXT */
.gallery__text {
  font-family: "Mulish", sans-serif;
  font-size: 18px;
  line-height: 1.5;

  margin-bottom: 40px;

  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

/* GRID */
.gallery__grid {
  display: grid;
  gap: 16px;
}

/* COLUMN */
.gallery__column {
  display: grid;
  gap: 16px;
}

/* ITEM */
.gallery__item {
  border-radius: 8px;
  overflow: hidden;

  background-size: cover;
  background-position: center;

  aspect-ratio: 1 / 1;
}


/* ===========  MOBILE IMAGES + RETINA =========== */

.gallery__item--1 {
  background-image: image-set(
    url("../img/gallery/mobile/mobile-placeholder-image-1-1x.jpg") 1x,
    url("../img/gallery/mobile/mobile-placeholder-image-1-2x.jpg") 2x
  );
}

.gallery__item--2 {
  background-image: image-set(
    url("../img/gallery/mobile/mobile-placeholder-image-2-1x.jpg") 1x,
    url("../img/gallery/mobile/mobile-placeholder-image-2-2x.jpg") 2x
  );
}

.gallery__item--3 {
  background-image: image-set(
    url("../img/gallery/mobile/mobile-placeholder-image-3-1x.jpg") 1x,
    url("../img/gallery/mobile/mobile-placeholder-image-3-2x.jpg") 2x
  );
}

.gallery__item--4 {
  background-image: image-set(
    url("../img/gallery/mobile/mobile-placeholder-image-4-1x.jpg") 1x,
    url("../img/gallery/mobile/mobile-placeholder-image-4-2x.jpg") 2x
  );
}


/* ===========  TABLET =========== */

@media (min-width: 768px) {

  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .gallery__title {
    max-width: 500px;
    white-space: normal;
  }

  .gallery__text {
    margin-bottom: 80px;
    max-width: 500px;
  }

  .gallery__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .gallery__column {
    gap: 24px;
  }

  /* IMAGES */
  .gallery__item--1 {
    height: 368px;
    background-image: image-set(
      url("../img/gallery/tablet/tablet-placeholder-image-1-1x.jpg") 1x,
      url("../img/gallery/tablet/tablet-placeholder-image-1-2x.jpg") 2x
    );
  }

  .gallery__item--2 {
    height: 226px;
    background-image: image-set(
      url("../img/gallery/tablet/tablet-placeholder-image-2-1x.jpg") 1x,
      url("../img/gallery/tablet/tablet-placeholder-image-2-2x.jpg") 2x
    );
  }

  .gallery__item--3 {
    height: 216px;
    background-image: image-set(
      url("../img/gallery/tablet/tablet-placeholder-image-3-1x.jpg") 1x,
      url("../img/gallery/tablet/tablet-placeholder-image-3-2x.jpg") 2x
    );
  }

  .gallery__item--4 {
    height: 386px;
    background-image: image-set(
      url("../img/gallery/tablet/tablet-placeholder-image-4-1x.jpg") 1x,
      url("../img/gallery/tablet/tablet-placeholder-image-4-2x.jpg") 2x
    );
  }

  .gallery__item {
    aspect-ratio: unset;
  }
}


/* ===========  DESKTOP =========== */

@media (min-width: 1440px) {

  .container {
    max-width: 1312px;
    padding: 0;
    margin: 0 auto;
  }

  .gallery__title {
    font-size: 48px;
    max-width: 700px;
  }

  .gallery__text {
    max-width: 600px;
  }

  .gallery__grid {
    gap: 32px;
  }

  .gallery__column {
    gap: 32px;
  }

  .gallery__item--1 {
    height: 640px;
    background-image: image-set(
      url("../img/gallery/desktop/desktop-placeholder-image-1-1x.jpg") 1x,
      url("../img/gallery/desktop/desktop-placeholder-image-1-2x.jpg") 2x
    );
  }

  .gallery__item--2 {
    height: 426px;
    background-image: image-set(
      url("../img/gallery/desktop/desktop-placeholder-image-2-1x.jpg") 1x,
      url("../img/gallery/desktop/desktop-placeholder-image-2-2x.jpg") 2x
    );
  }

  .gallery__item--3 {
    height: 426px;
    background-image: image-set(
      url("../img/gallery/desktop/desktop-placeholder-image-3-1x.jpg") 1x,
      url("../img/gallery/desktop/desktop-placeholder-image-3-2x.jpg") 2x
    );
  }

  .gallery__item--4 {
    height: 640px;
    background-image: image-set(
      url("../img/gallery/desktop/desktop-placeholder-image-4-1x.jpg") 1x,
      url("../img/gallery/desktop/desktop-placeholder-image-4-2x.jpg") 2x
    );
  }
}