.navbar-container {
  padding: 12px 12px 12px 20px;
}

.header-logo-img {
  width: 160px;
  height: 68px;
}

.header-navigation {
  display: none;
}

.header-button {
  display: none;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-btn {
  background: transparent;
  border: none;
}

.header-icon {
  fill: var(--icons-fill);
}

@media only screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-logo-img {
    width: 84px;
    height: 36px;
  }

  .navbar-container {
    padding: 18px 32px;
  }

  .header-navigation {
    display: block;
  }

  .header-nav-list {
    display: flex;
    gap: 16px;
  }

  .header-link:active {
    color: var(--link-active-color);
  }

  .header-link {
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main-text-color);
  }

  .header-button {
    display: flex;
    padding: 6px 18px;
  }
}

@media only screen and (min-width: 1440px) {
  .navbar-container {
    padding: 18px 64px;
  }

  .header-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-logo {
    margin-right: 32px;
  }

  .header-nav-list {
    gap: 32px;
  }

  .header-button {
    margin-left: auto;
    padding: 6px 55px;
  }
}
