.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-bg-color);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity var(--t-duration) var(--t-timing);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu:not(.is-open) .mobile-menu-container {
  transform: translateX(-100%);
}

.mobile-menu-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  transform: translateX(0);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-logo {
  margin-top: 2px;
  margin-bottom: 18px;
  width: 160px;
  height: 68px;
}
.mobile-menu-logo-img {
  width: 100%;
  height: 100%;
}

.close-icon-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
}
.close-icon {
  fill: var(--icons-fill);

  transition: fill var(--t-duration) var(--t-timing);
}

.close-icon-btn:hover .close-icon,
.close-icon-btn:focus .close-icon,
.close-icon-btn:active .close-icon {
  fill: var(--norm-btn-bg-color);
}

.mobile-menu-navigation {
  margin-bottom: 64px;
}
.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);

  transition: color var(--t-duration) var(--t-timing);
}
.mobile-menu-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 4px;
  left: 0;
  background-color: transparent;

  transition: background-color var(--t-duration) var(--t-timing);
}

.mobile-menu-link:hover::after,
.mobile-menu-link:focus::after {
  background-color: currentColor;
}
.mobile-menu-link-underline {
  position: relative;
  display: inline-block;
}
.mobile-menu-link:active {
  color: var(--link-active-color);
}

.mobile-menu-link:active:after {
  background-color: transparent;
}

.mobile-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px;
  text-decoration: none;

  background-color: var(--norm-btn-bg-color);
  border: var(--btn-border);

  font-family: var(--main-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);

  --t-prop: background-color;

  transition: background-color var(--t-duration) var(--t-timing);
}

.mobile-menu-button:hover,
.mobile-menu-button:focus {
  border: var(--btn-border);
  background-color: transparent;
}

.mobile-menu-button:hover:active,
.mobile-menu-button:focus:active {
  box-shadow: var(--btn-active-shadow);
  background-color: var(--norm-btn-bg-color);
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
