.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100dvh;
  top: 0;
  left: 0;
  background-color: var(--main-bg-color);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity var(--t-duration) var(--t-timing),
    visibility 0s linear var(--t-duration);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transition:
    opacity var(--t-duration) var(--t-timing),
    visibility 0s;
}
.mobile-menu.is-open .mobile-menu-container {
  transform: translateX(0);
}

.mobile-menu-container {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  transform: translateX(-100%);
  transition: transform 250ms var(--t-timing);
}

.mobile-menu-logo {
  padding-block: 2px;
  margin-bottom: 16px;
  width: 160px;
  height: 68px;
}
.mobile-menu-logo-img {
  width: 100%;
  height: 100%;
}

.close-icon-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
}
.close-icon {
  fill: var(--icons-fill);

  transition: fill var(--t-duration) var(--t-timing);
}

.close-icon-btn:hover .close-icon,
.close-icon-btn:focus .close-icon,
.close-icon-btn:active .close-icon {
  fill: var(--norm-btn-bg-color);
}

.mobile-menu-navigation {
  margin-bottom: 64px;
}
.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mobile-menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);

  position: relative;
  display: inline-block;

  transition: color var(--t-duration) var(--t-timing);
}
.mobile-menu-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: 4px;
  left: 50%;
  background-color: transparent;

  transform: translateX(-50%);
  transition:
    background-color var(--t-duration) var(--t-timing),
    width 250ms var(--t-timing);
}

.mobile-menu-link:hover::after,
.mobile-menu-link:focus::after {
  background-color: currentColor;
  width: 100%;
}

.mobile-menu-link:active {
  color: var(--link-active-color);
}

.mobile-menu-link:active::after {
  background-color: transparent;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
