figure {
  margin: 0;
}
blockquote {
  margin: 0;
}
figcaption {
  font-style: normal;
}
.section {
  padding-block: 64px;
}

.testimonials-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--main-text-color);

  margin-bottom: 24px;
}
.testimonials-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--main-text-color);

  margin-bottom: 40px;
}
.testimonials-comment-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-comment-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.testimonials-picture {
}
.testimonials-image {
}
.testimonial-comment-wrap {
  /* min-height: 214px; */
  width: 100%;
  display: flex;
  flex-direction: column;

  border: var(--wrap-border);
  padding: 32px;
  background: var(--wrap-bg-color);
}
.testimonial-rating-list {
  display: flex;
  gap: 4px;
  margin-bottom: 24px;
}
.testimonials-rating-item {
  max-height: 24px;
}
.testimonials-star {
  fill: var(--icons-fill);
}
.testimonials-star-unfilled {
  stroke: var(--icons-fill);
  fill: transparent;
}
.testimonials-figure {
  /* display: flex;
  flex-direction: column;
  flex-grow: 1; */
}
.testimonials-quote {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: var(--main-text-color);

  margin-bottom: 24px;
}
.testimonials-figcaption {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-text-color);
}
